<h1>Listing twitterers</h1>

<table>

<% @twitterers.each do |twitterer| %>
  <tr>
	<td><%= twitterer.active ? 'v' : '<span style="color: #FF0000">x</span>' %></td>
	<td><%= twitterer.screen_name %></td>
    <td><%= link_to 'Show', twitterer %></td>
    <td><%= link_to 'Edit', edit_twitterer_path(twitterer) %></td>
    <td><%= link_to 'Destroy', twitterer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New twitterer', new_twitterer_path %>